
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
/public/.htaccess
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
